<div class="row" ng-init="storeCtrl.getData()">


    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
                <div class="app-heading">
        <div class="app-title">
          <div class="title">Использовать <span class="highlight" style="color:#39c3da">фильтр</span></div>
          <div class="description">Сортируйте продукты по названию, рейтингу, цене, доступности и лучшим продажам.</div>
          <button class="btn btn-info" ng-click="storeCtrl.getFilter()" style="margin-top: 10px">Применить фильтр</button>
        </div>
      </div>

        </div>
        <div class="card-body" ng-show="storeCtrl.filter">
          <form class="form form-horizontal">
  <div class="section">
    <div class="section-title">Использовать</div>
    <div class="section-body">
      <div class="form-group">
        <label class="col-md-1 control-label">Имя</label>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="productNameSearch" placeholder="">
        </div>
         <label class="col-md-1 control-label">Категория</label>
      <div class="col-md-4">
<select class="select2" ng-model=storeCtrl.categorySearch style="margin-top: 10px">
                      <option ng-value="" ng-selected="selected">Любой</option>
                       <option ng-repeat="category in storeCtrl.categories" ng-value="category.categori_id">{{category.name}}</option>
    </select>
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-1">
          <label class="control-label">Цена</label>
        </div>
        <div class="col-md-5">
      <div>
      <div class="checkbox checkbox-inline">
          <input type="checkbox" id="radio5" ng-model="storeCtrl.maxPrice" ng-true-value= "10" ng-false-value="">
          <label for="radio5">
              Ниже 10.00
          </label>
      </div>
      <div class="checkbox checkbox-inline">
          <input type="checkbox" id="radio6" ng-model="storeCtrl.minPrice" ng-true-value="30" ng-false-value="">
          <label for="radio6">
              Выше 30.00
          </label>
      </div>

    </div>

        </div>

        <!-- Custom filter by price
        <div class="col-md-2">
          <div class="input-group">
            <span class="input-group-addon">$ </span>
            <input type="number" class="form-control" ng-model="storeCtrl.minPriceCurrency" placeholder="Min">
          </div>
        </div>

        <div class="col-md-2">
          <div class="input-group">
            <span class="input-group-addon">$ </span>
            <input type="number" class="form-control" ng-model="storeCtrl.maxPriceCurrency" placeholder="Max ">
          </div>
        </div>

        -->

      </div>

      <div class="form-group">
        <div class="col-md-1">
          <label class="control-label">Другие</label>
        </div>
        <div class="col-md-5">
      <div>
      <div class="radio radio-inline">
          <input type="radio" id="radioAvailable" ng-model="storeCtrl.checkAvailableFilter" ng-value=true>
          <label for="radioAvailable">
              Доступные
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" id="radioNotAvailable" ng-model="storeCtrl.checkAvailableFilter" ng-value=false>
          <label for="radioNotAvailable">
              Недоступные
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" id="radioAvailableAll" ng-model="storeCtrl.checkAvailableFilter" ng-value="">
          <label for="radioAvailableAll">
              Все
          </label>
      </div>

      <div class="checkbox checkbox-inline">
          <input type="checkbox" id="checkBestSellerFilter" ng-model="storeCtrl.checkBestSellerFilter" ng-true-value=true ng-false-value="">
          <label for="checkBestSellerFilter">
              Лидеры продаж
          </label>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-title">Сортировать продукты</div>
    <div class="section-body">
      <!-- Form group here -->

      <div class="form-group">
        <div class="col-md-1">
          <label class="control-label">Другие</label>
        </div>
        <div class="col-md-5">
      <div>
      <div class="radio radio-inline">
          <input type="radio" name="checkSoldOutGroup" id="checkSoldOut" ng-model="storeCtrl.checkSoldOut" ng-value="'available'">
          <label for="checkSoldOut">
              Недоступные
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" name="checkSoldOutGroup" id="checkAvailable" ng-model="storeCtrl.checkSoldOut" ng-value="'-available'">
          <label for="checkAvailable">
              Доступные
          </label>
      </div>
      <div class="radio radio-inline">
          <input type="radio" name="checkSoldOutGroup" id="checkAll" ng-model="storeCtrl.checkSoldOut" ng-value="''" >
          <label for="checkAll">
              Все
          </label>
      </div>
          <div class="checkbox checkbox-inline">
          <input type="checkbox"  id="checkBestSeller" ng-model="storeCtrl.checkBestSeller" ng-true-value="'-best_seller'">
          <label for="checkBestSeller">
              Лидеры продаж
          </label>
      </div>

  </div>

        </div>

      </div>
    </div>
  </div>
</form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card ">

        <div class="card-header">
          Найденные продукты в нашем магазине

            <br>
            <b>Результаты: </b> {{query.length}}

        </div>


        <div class="card-body no-padding">
          <div  class="" id="tab1">
            <div class="search-result">
              <ul class="result">
                <li ng-repeat="product in query = (storeCtrl.products | priceMin:storeCtrl.minPrice | priceMax:storeCtrl.maxPrice  |bestSeller:storeCtrl.checkBestSellerFilter |  available:storeCtrl.checkAvailableFilter |category:storeCtrl.categorySearch | filter:{ name: productNameSearch } | filter: {best_seller: checkBestSeller} | orderBy:storeCtrl.checkSoldOut | orderBy:storeCtrl.checkBestSeller)">
                  <div class="img">
                    <img ng-src="{{product.img}}">
                  </div>
                  <div class="info">
                    <div class="title"><a href="#"><span class="highlight">{{product.name}}</span> {{product.price| currency:"$":2}}</a></div>
                    <div class="description">{{product.description}}</div>

                    <br>
                    <span ng-show="{{product.available}}" class="badge badge-success badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span>Доступные</span></span>

                    <span ng-show="{{!product.available}}" class="badge badge-danger badge-icon"><i class="fa fa-close" aria-hidden="true"></i><span>Недоступные</span></span>

                    <span ng-show="{{product.best_seller}}" class="badge badge-sucess badge-icon"><i class="fa fa-fire" aria-hidden="true"></i><span>Лидеры продаж</span></span>



                <br>
                <br>
                  <button ng-show="{{product.available}}" class="btn btn-info" ng-click="storeCtrl.addProductToCart(product.id)">Добавить в корзину</button>
                  </div>
                </li>


              </ul>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
